@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700;800&display=swap');

/* reset */
* {padding: 0; margin: 0;}
li {list-style: none;}
a {text-decoration: none;}

body{
    font-family: 'Baloo Bhai 2', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3em;
    text-align: center;
    overflow: hidden;
}

p {font-size: 1.2em;}

header {
    background-color: #ff9696;
    color: white;
    width: 100%;
    padding: 1em;
    text-align: center;
    box-shadow: 0 0 10px black;
    margin-bottom: 3em;
}

button{
    align-items: center;
    padding: 1em;
    margin: 0.5em 0;
    font-size: 1.5em;
    color: #382b22;  
    text-shadow: 0px -1px 0px #00000080;
    border-radius: 50px;
    background-color: #fff0f0;
    box-shadow: 0px 4px 20px #ffb5c9;
    border: 4px solid #ff77af;
    cursor: pointer;
}

button:active{
    transform: translateY(4px);
    box-shadow: none;
}

button:hover {
    animation: shake 0.5s infinite;
}

#saluto {
    margin-top: 0.5em;
    font-size: 5em;
    line-height: 0.8em;
}

#textInput {
    padding: 0.5em;
    border-radius: 30px;
    text-align: center;
}

@keyframes shake {
    0% {transform: translate(1px, -2px) rotate(-1deg);}
    10% {transform: translate(-1px, 2px) rotate(-1deg);}
    20% {transform: translate(1px, 2px) rotate(0deg);}
    30% {transform: translate(3px, 2px) rotate(0deg);}
    40% {transform: translate(1px, -1px) rotate(1deg);}
    50% {transform: translate(-1px, -2px) rotate(-1deg);}
    60% {transform: translate(-3px, 1px) rotate(0deg);}
    70% {transform: translate(3px, 1px) rotate(-1deg);}
    80% {transform: translate(-1px, -1px) rotate(1deg);}
    90% {transform: translate(-3px, 0px) rotate(1deg);}
    100% {transform: translate(1px, 1px) rotate(0deg);}
}